.cheese {
    background-image: url("C:/New/Courses/classwork/11/img/cheese.jpg");
}

.meat {
    background-image: url("C:/New/Courses/classwork/11/img/meat.jpg");
}

.peperoni {
    background-image: url("C:/New/Courses/classwork/11/img/peperoni.jpg");
}

.mushrooms {
    background-image: url("C:/New/Courses/classwork/11/img/mushrooms.jpg");
}

.fish {
    background-image: url("C:/New/Courses/classwork/11/img/fish.jpg");
}

.pineapple {
    background-image: url("C:/New/Courses/classwork/11/img/pineapple.jpg");
}