.Article {
    text-align: center;
}

.Price__wrapper {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
}

.Price__wrapper label {
    text-decoration: underline;
}

.SizeCheckbox {
    text-align: center;
}

.PizzaContur {
    width: 50%;
}

.Pizza__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.Ingradients__wrapper {
    width: 50%;
}

.Ingradients__wrapper__flex {
    display: flex;
    flex-wrap: wrap;
}

.Ingradient {
/*    padding: 80px;*/
    margin: 5px;
    width: 200px;
    height: 200px;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px;
    background-size: contain;
}

.Ingradient > div {
    padding: 10px;
    font-weight: bold;
    font-family: Arial;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 3px black;
    transition: font-size, .1s ;
    cursor: pointer;
    user-select: none;
}

.Ingradient :nth-child(1):hover, .Ingradient :nth-child(3):hover {
    font-size: 40px;
    color: red;
}

.Ingradient :nth-child(2) {
    cursor: auto;
    user-select: auto;
}